.logo{
    position:absolute;
    text-decoration: none;
    top:20px;
    left:30px;
    p{
    font-weight:600;
    font-size:3em;
    letter-spacing: 5px;
    text-transform: uppercase;
    transition: all .5s;
    color:$light-yellow;
    b{
        font-weight:800;
        color: $light-blue;
    }
    }
    &:after{
        content: "";
        position: absolute;
        height:5px;
        width:20%;
        background-color: $light-blue;
        bottom:5px;
        right:0;
        transition: all .5s;
    }
    &:hover:after{
        width:100%;
        
        transform-origin: right;
    }
    
}
